{% load static %}

<html>
    <head>
        <title>LitReview</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>LiteReview</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'home' %}">Flux</a></p>
                <p><a href="{% url 'post' %}">Posts</a></p>
                <p><a href="{% url 'follow-users' %}">Abonnements</a></p>
                <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}

            
    </body>
</html>