{% extends 'base.html' %}
{% block content %}

    <h2>Trouver un utilisateurs</h2>
    <form method="post">
        {{ find_user.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>

    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>

    <p> nb follow  {{p}}</p>
    {% for i in follower %}
        <a href="{% url 'unfollow-users' i.id %}"> STOP</a>
        <p>{{  i.username  }}</p>
        <p>{{  i.email  }}</p>
        <p>--------------------------------</p>
    {% endfor %}
{% endblock content %}

<!-- <a href="{% url 'unfollow-users' i.id  %}">Clic pour ne plus suivre</a> -->