{% extends 'base.html' %}
{% load app_extras %}
{% block content %}
    <div class="create">
        <p><a href="{% url 'ticket-creator' %}">Demander une critique</a></p>
        <p><a href="{% url 'review-creator' %}">Créer une critique</a></p>
    </div>
    <div class="home">
        <h2> Votre Flux</h2>
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
                <div class="ticket_flux">{% include "app/partials/ticket_snippet.html" with ticket=instance %}</div>
            {% elif instance|model_type == 'Review' %}
                <div class="review_flux">{% include "app/partials/review_snippet.html" with review=instance %}</div>

            {% endif %}
        {% endfor %}
        {% include 'partials/page_navigator.html' %}
    </div>
{% endblock content %}

    <!--    
 -->