{% extends 'base.html' %}
{% block content %}
    <p>Vous êtes connecté !</p>
    <p><a href="{% url 'ticket-creator' %}">Création d'un ticket</a></p>
    <p><a href="{% url 'review-creator' %}">Création d'une review</a></p>
    <h2>Ticket</h2>
    {% for ticket in tickets %}
    <p><a href="{% url 'ticket-reponse' ticket.id %}">Donner son avis</a></p>
    <p><strong> ID : </strong> {{ ticket.id }}</p>
    <p><strong> Nom du livre : </strong> {{ ticket.book_name }}</p>
        <p><strong>Auteur : </strong> {{ ticket.author_book }}</p>
        <p><strong>Information voulu : </strong> {{ ticket.content }}</p>
        {% if ticket.image.url is not blank  %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
        <p><strong>Ticket envoyé par : </strong> {{ ticket.uploader }}</p>
        <p><strong>Date de création du Ticket : </strong> {{ ticket.date_created }}</p>
        {% if request.user == ticket.uploader %}
            <p><a href="{% url 'edit-ticket' ticket.id %}"> Edit/Supp</a></p>
        {% endif %}
        
        <p>------------------------------------</p>
    {% endfor %}
    <h2>Review</h2>
    {% for review in reviews %}
        <p><strong>ID : </strong> {{ review.id }}</p>
        <p><strong>Titre : </strong> {{ review.headline }}</p>
        <p><strong>Critique : </strong> {{ review.content }}</p>
        <p><strong>Recommandé : </strong> {{ review.ticket }}</p>
        <p><strong>review envoyé par : </strong> {{ review.uploader }}</p>
        <p><strong>Date de création de la review : </strong> {{ review.date_created }}</p>
        <p><a href="{% url 'view-review' review.id %}"><strong>Lire la review complète</strong></a></p>
        <p>------------------------------------</p>
    {% endfor %}


{% endblock content %}

    <!-- <h2>Review</h2>
    {% for review in reviews %}
        <p><strong> Nom du livre : </strong><a href="{% url 'view-review' review.id %}">{{ review.book_name|upper }}</a></p>
        <p><strong>Auteur : </strong> {{ review.author_book|upper }}</p>
        <p><strong>Information voulu : </strong> {{ review.content }}</p>
        <p><strong>Recommandé : </strong> {{ review.advised }}</p>
        <p><strong>review envoyé par : </strong> {{ review.uploader }}</p>
        <p><strong>Date de création de la review : </strong> {{ review.date_created }}</p>
        <p><a href="{% url 'view-review' review.id %}"><strong>Lire la review complète</strong></a></p>
        <p>------------------------------------</p>
    {% endfor %} -->